@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import url('./Themes.css');

body {
    margin: 0;
    background-color: hsl(var(--bg));
    color: hsl(var(--text));
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: 'Manrope', sans-serif;
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.theme-switch {
    float: right;
    padding: 15px 20px 15px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.theme-switch span {
    margin-left: 10px;
}

.float-break {
    clear: both;
}

nav .links {
    display: flex;
}

nav .navlink {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid hsl(var(--primary-1));
    color: hsl(var(--text));
    text-decoration: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: hsl(var(--text));

    transition: background-color 0.2s ease-in-out, border-right 0.2s ease-in-out;
}

nav .navlink.active {
    background-color: hsla(var(--primary-2), 0.7);
}

nav .navlink:hover {
    background-color: hsla(var(--primary-3), 0.6);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.presentation h1 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
}

.presentation p {
    font-size: 25px;
    max-width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}

.contact-component .links {
    height: 200px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    transition: opacity 0.4s ease-in-out;
}

.contact-component .links .link-container {
    padding: 10px;
    translate: 0 100px;
    transition: translate 0.4s ease-in-out;
    user-select: none;
}

.contact-component .links .link-container.above {
    translate: 0 0;
}

.contact-displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.contact-displayer p {
    transition: opacity 0.4s ease-in-out;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.down-button {
    border: 2px solid hsl(var(--text));
    border-radius: 50%;
    padding: 10px 15px 20px 15px;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: scale 0.2s ease-in-out, border 0.2s ease-in-out;
    animation: jiggle 2s infinite;
}

.down-button:hover {
    scale: 1.1 1.1;
}

.arrow {
    width: 20px;
	height: 20px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: var(--text);
    transform: translate(0, 50%) rotate(315deg);
    transition: transform 0.2s ease-in-out;
}

.arrow.down {
    transform: rotate(135deg);
}

@keyframes jiggle {
    0% {
        translate: 0 0;
    }
    50% {
        translate: 0 -10px;
    }
    100% {
        translate: 0 0;
    }
}

.copyright {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}