@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import url('./Themes.css');

html, body, #root, .App {
    height: 100%;
}

a {
    color: hsl(var(--text));
    text-decoration: none;
}

body {
    margin: 0;
    background-color: hsl(var(--bg));
    color: hsl(var(--text));
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: 'Manrope', sans-serif;
}

.theme-switch {
    float: right;
    padding: 15px 20px 15px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    width: 120px;
}

.float-break {
    clear: both;
}

.cv-outline {
    border: 1px solid hsl(var(--cv-button));
    position: fixed;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    padding: 10px;
    animation: padding-jiggle 2s infinite;
}

.cv-button {
    background-color: hsl(var(--cv-button));
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    font-size: 15px;
}

.cv-button h1 {
    transition: color 0.2s ease-in-out;
}

.cv-button:hover {
    background-color: hsl(var(--cv-button-hover));
}

@keyframes padding-jiggle {
    0% {
        padding: 10px;
    }
    50% {
        padding: 0;
    }
    100% {
        padding: 10px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.main-component {
    position: absolute;
}

.home-page {
    margin-bottom: 5%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation h1 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.presentation p {
    font-size: 25px;
    max-width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}

.contact-component .links {
    height: 200px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.link-container {
    height: fit-content;
    margin: 10px;
    transform: translate(0, 100px);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, scale 0.2s ease-in-out;
    user-select: none;
    cursor: pointer;
    z-index: 100;
}

.link-container.above {
    transform: translate(0, 25px);
}

.link-container:hover {
    scale: 1.2 1.2;
}

.contact-displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.contact-displayer p {
    transition: opacity 0.4s ease-in-out;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.down-button {
    border: 2px solid hsl(var(--text));
    border-radius: 50%;
    padding: 10px 15px 20px 15px;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: scale 0.2s ease-in-out, border 0.2s ease-in-out;
    animation: jiggle 2s infinite;
}

.down-button:hover, .side-button:hover {
    scale: 1.1 1.1;
}

.arrow {
    width: 20px;
	height: 20px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: var(--text);
    transform: translate(0, 50%) rotate(315deg);
    transition: transform 0.2s ease-in-out;
}

.arrow.down {
    transform: rotate(135deg);
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.copyright {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.nav-button-area {
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.nav-button-area.right-button {
    right: 0;
}

.nav-button-area.left-button {
    flex-direction: row-reverse;
}

.nav-button-area p {
    margin: 0 10px;
}

.side-button {
    border: 2px solid hsl(var(--text));
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: scale 0.2s ease-in-out, border 0.2s ease-in-out;
}

.right-button .side-button {
    animation: right-jiggle 2s infinite;
}

.left-button .side-button {
    animation: left-jiggle 2s infinite;
}

.left-button svg {
    transform: rotate(180deg);
}

@keyframes right-jiggle {
    0% {
        transform: translate(5px ,0);
    }
    50% {
        transform: translate(-5px ,0);
    }
    100% {
        transform: translate(5px ,0);
    }
}

@keyframes left-jiggle {
    0% {
        transform: translate(-5px ,0);
    }
    50% {
        transform: translate(5px ,0);
    }
    100% {
        transform: translate(-5px ,0);
    }
}