@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import url('./Themes.css');

body {
    margin: 0;
    background-color: hsl(var(--bg));
    color: hsl(var(--text));
    transition: background-color 0.2s ease-in-out;
    font-family: 'Manrope', sans-serif;
    /* text-align: center; */
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.theme-switch {
    float: right;
    padding: 15px 20px 15px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.theme-switch span {
    margin-left: 10px;
}

.float-break {
    clear: both;
}

nav .links {
    display: flex;
}

nav .navlink {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid hsl(var(--primary-1));
    color: hsl(var(--text));
    text-decoration: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: hsl(var(--text));

    transition: background-color 0.2s ease-in-out, border-right 0.2s ease-in-out;
}

nav .navlink.active {
    background-color: hsla(var(--primary-2), 0.7);
}

nav .navlink:hover {
    background-color: hsla(var(--primary-3), 0.6);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.presentation h1 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
}

.presentation p {
    font-size: 25px;
    max-width: 50%;
}