

.gol-grid {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100vh;
}

.gol-row {
    display: flex;
}

.gol-cell {
    --size: 10px;
    width: var(--size);
    height: var(--size);
    transition: background-color 0.8s ease-in-out;
}

.alive {
    background-color: hsla(var(--gol-alive));
}